Django==1.7
Scrapy==0.24.4
cssselect==0.9.1
lxml==3.4.0
mongoengine==0.8.7
pip==1.5.6
pymongo==2.7.2
pyopenssl==0.11
pywin32==219
queuelib==1.2.2
setuptools==7.0
six==1.8.0
twisted==14.0.2
w3lib==1.10.0
zope.interface==4.1.1
