{% extends "shared/global.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block head %}
    <link type="text/css" href="{% static "skin/jplayer.blue.monday.css" %}" rel="stylesheet">
    <script type="application/javascript" src="{% static "js/page/index.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            {% include "shared/player.html" %}
        </div>
    </div>
    <div class="container">
        <h1>Hello, world!</h1>
    </div>
{% endblock %}
