{% extends "shared/global.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block head %}
    <link type="text/css" href="{% static "css/index.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "skin/jplayer.blue.monday.css" %}" rel="stylesheet">
    <script type="application/javascript" src="{% static "js/page/index.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            {% include "shared/player.html" %}
        </div>
        <div class="col-md-8">
            <h1><span id="episode_title">#1 New Beginnings</span> <small id="episode_date">11.15.1995</small></h1>
            <h3><span id="episode_speaker">Ira Glass</span> <small id="episode_role">host</span></h3>
            <p id="subtitles" class="lead">OK, the idea of this show, this new little show, is stories, some by journalists and documentary producers, like myself, some just regular people telling their own little stories, some by artists, and writers, and performers of all different kinds. And the idea is we're going to bring you stuff you're not going to find anywhere else. And there is also going to be music.</p>

        </div>
    </div>
{% endblock %}
